
* {
  vertical-align: middle;
}

/* Chỉnh sửa layout sử dụng Flexbox */
.main-content {
  display: flex;
  flex-direction: row-reverse;
  /* Sidebar ở bên phải */
}

.sidebar {
  width: 160px;
  background-color: black;
  height: auto;
}


.container {
  flex-grow: 1;
  padding: 20px;
}

.tdBtn {
  text-align: center;
}

.container-table {
  margin-top: 20px;
}